In [53]:
import pandas as pd
from ast import literal_eval
from utils import utils, UMLSAPI

data = pd.read_csv('data/fnfr_scholarly_api.csv')
try:
    data.loc[:, 'interests'] = data['interests'].apply(lambda x: literal_eval(str(x.lower())))
except:
    data.loc[:, 'interests'] = data['interests'].fillna('[]').transform(lambda x: literal_eval(str(x.lower())))

data = data.explode('interests').reset_index(drop=True)
data = data.dropna(subset='interests')

# Par projets
interests_projects = pd.DataFrame(data.groupby('projet')['interests'].value_counts()).reset_index().rename(columns={'count':'n'})
interests_projects.sort_values(by='n', ascending=False)

,projet,interests,n
126,BIOSCAN: Tracing the Patterns of Life on a Cha...,dna barcoding,8
125,BIOSCAN: Tracing the Patterns of Life on a Cha...,biodiversity,8
838,TRIDENT: TRanslational Initiative to DE-risk N...,neuroscience,7
516,Mend the Gap: A Transformative Biomaterials Pl...,neuroscience,5
44,Abundant Intelligences: Expanding Artificial I...,artificial intelligence,4
...,...,...,...
417,Enabling novel cardiac therapies with pluripot...,vascular biology,1
418,Enabling novel cardiac therapies with pluripot...,vascularization,1
427,Inclusive Design for Employment Access (IDEA),work,1
428,Inclusive Design for Employment Access (IDEA),workplace mistreatment,1
1162,Ărramăt: Strengthening Health and Well-Being t...,zweites interessengebiet,1

In [58]:
interests_projects.to_csv('data/fnfr_expertises_par_projet.csv', index=False)

In [55]:
# all 
interests_all = pd.DataFrame(data['interests'].value_counts()).reset_index().rename(columns={'count':'n'})
interests_all.sort_values(by='n', ascending=False)

             interests   n
0         neuroscience  15
1         biodiversity  10
2        dna barcoding   8
3         biomaterials   8
4     machine learning   7
...                ...  ..
463     psychosomatics   1
464        alexithymia   1
465    gene expression   1
466           pathways   1
1015    tribal studies   1

[1016 rows x 2 columns]

In [56]:
# mapping UMLS
# labels = interests_all['interests'].unique().tolist()
# umls_mapping = UMLSAPI.queryUMLSAPI_exactSearch(labels)

# umls_mapping

Regroupement automatique

In [57]:
import pandas as pd
expertises = pd.read_csv('data/fnfr_expertises_tout.csv')
expertises

                    interests   n
0                neuroscience  15
1                biodiversity  10
2               dna barcoding   8
3                biomaterials   8
4            machine learning   7
...                       ...  ..
1011  cardiovascular medicine   1
1012         vascular biology   1
1013            heart failure   1
1014      comparative biology   1
1015           tribal studies   1

[1016 rows x 2 columns]